{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center" style="background: #3c8dbc; color: #FFF;">
            <h2>Login</h2>
        </div>
        <div class="col-md-3">
            <h2>About</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="background: #EEE;">
            <div class="jumbotron">
                <p class="hero">Evaluate the quality of your metadata.</p>
                <p class="hero">Please use your <a href="http://more.locloud.eu/">more.locloud.eu</a> API Key to login.</p>

                <form action="/packages">
                    <div class="form-group">
                        <label>MORE API KEY:</label>
                        <input type="text" class="form-control" value="JFeDWPV9NhG7gTzqTrk2" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <p>The MoRe quality application communicates with MoRe repository, retrieves the ingested metadata
                and performs evaluations to identify common errors such as:</p>
            <ul>
                <li>Invalid date formats (ISO 8601 standard)</li>
                <li>Invalid hyperlinks</li>
                <li>Invalid language codes (ISO 639 standard)</li>
                <li>Invalid author names</li>
            </ul>

            <h2>TODO</h2>
            <ul>
                <li>New validation rules could be implemented using standard python functions.</li>
                <li>The system can become configurable, enabling the user to select the rules she/he would like to apply to each metadata element.</li>
                <li>The system could send feedback to the MoRe aggregator with technical metadata regarding the identified issues. <i>Dear MoRe developers,
                    please make the API to enable this in the future.</i></li>
                <li>Performance</li>
                <li>UI</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
