<!doctype html>
<html>
<head>
<title>MoRe Quality - {% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://www.w3resource.com/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.js" type="text/javascript"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.css" type="text/css">

</head>
<body>
    <div>
        <div class="navbar navbar-default" style="background: #3c8dbc; color: #FFF;">
            <div class="container-fluid" style="background: #3c8dbc;">
                <span>
                    <a href="/"><img src="http://more.locloud.eu/img/locloud-logo2.png" height="90" /></a>
                </span>
                <span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <a href="/" title="Home page" style="color: #FFF; font-size: 44pt;">Quality</a>
                    Evaluate your metadata!
                </span>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="fluid-container">
        <div class="row">
            <div class="col-md-12 text-center">
                <hr />
                MoRe Quality is a prototype by <a href="http://vbanos.gr">Vangelis Banos</a> created for the <a href="hackathon.locloud.eu/">LoCloud Hackathon</a>.
            </div>
        </div>
    </div>
</div>
</body>
</html>
