{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <a href="/packages">List Packages</a>

            <hr />

            <a href="/metadata-sources">List metadata sources</a>

        </div>
    </div>
</div>

{% endblock %}
