{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>List metadata sources</h2>

            <table class="table">
                <tr>
                    <th>projectid</th>
                    <th>type</th>
                    <th>id</th>
                    <th>name</th>
                    <th>actions</th>
                </tr>

            {% for source in sources: %}
                <tr>
                    <td> {{ source.projectId }} </td>
                    <td> {{ source.type }} </td>
                    <td> {{ source.id }} </td>
                    <td> {{ source.name }} </td>
                    <td>
                        <a href="/metadata-sources/info/{{ source.id }}">Info</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
