{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Check metadata source {{ identifier }}</h2>

            {{ packages }}
        </div>
    </div>
</div>

{% endblock %}
