{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Metadata Source Info</h2>

            <ul>
                <li>set: {{ source.set }}</li>
                <li>name: {{ source.name }}</li>
                <li>format: {{ source.format }}</li>
                <li>projectId: {{ source.projectId }}</li>
                <li>routElement: {{ source.routeElement }}</li>
                <li>uri: {{ source.uri }}</li>
                <li>webUrl: {{ source.webUrl }}</li>
                <li>type: {{ source.type }}</li>
                <li>id: {{ source.id }}</li>
                <li>schema: {{ source.schema }}</li>
            </ul>
            <h3>Actions</h3>
            <a href="/metadata-sources/check/{{ source.id }}/EDM">Check metadata source - EDM schema</a>
        </div>
    </div>
</div>

{% endblock %}
