{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Evaluate package {{ identifier }}</h2>

            <h3>Evaluation rules:</h3>

            <pre class="prettyprint lang-javascript">
[
    {'element': "dc:date", 'rule': 'date.iso8601'},
    {'element': "dc:language", 'rule': 'language.iso639'},
    {'element': "edm:isshownat", 'rule': 'url.exists'},
    {'element': "edm:isshownat", 'rule': 'url.permanent'}
]</pre>

            <h3>Overall results:</h3>
            <table class="table" style="width: 300px">
                <tr>
                    <td>Number of records evaluated:</td><td>{{ statistics.total }}</td>
                </tr>
                <tr>
                    <td>Number of evaluations performed:</td><td> {{ statistics.evaluations }}</td>
                </tr>
            </table>

            <h3>Detailed results:</h3>
            {% for item in results %}

                <table class="table">
                    <tr>
                        <th>Item Id</th><th>{{ item.itemId }}</th>
                    </tr>
                    <tr>
                        <td>URI</td><td>{{ item.uri }}</td>
                    </tr>
                    <tr>
                        <td>XML</td>
                        <td>
                            <pre class="prettyprint lang-xml">{{ item.xml }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>Validation Rules and results</td>
                        <td>
                            <table class="table table-bordered table-condensed table-striped">
                                <tr>
                                    <th>XML Element search</th>
                                    <th>Found</th>
                                    <th>Validation Rule</th>
                                    <th>Result</th>
                                </tr>
                                {% for rule in item.results: %}
                                    <tr><td>{{ rule.element }}</td>
                                        <td>{{ rule.found }}</td>
                                        <td>{{ rule.rule }}</td>
                                        <td>{{ rule.results }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>
                </table>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
