{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>User packages</h2>

            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Source Id</th>
                    <th>Schema</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>

            {% for package in packages: %}
                <tr>
                    <td> {{ package.id }} </td>
                    <td> {{ package.sourceId }} </td>
                    <td> {{ package.schema }}</td>
                    <td> {{ package.status }} </td>
                    <td>
                        {% if package.status == "Transformed" or package.status == "Enriched" or package.status == "Ingested" %}
                            <a href="/packages/check/{{ package.id }}/{{package.schema}}">Evaluate</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
